fastapi==0.115.0
uvicorn==0.32.0
tensorflow==2.16.1
joblib==1.4.2
numpy==1.26.4
scikit-learn==1.6.1
nltk==3.8.1
tqdm==4.66.1
python-dotenv==1.0.0    # optional, for local env testing
openai==1.0.0           # optional, only if you want LLM generation

